body {
	font-family:  Myriad, Verdana;
	font-size:    12px;
	color:        #050505;
	background:   white;
}

.title {
	font-size:    18px;
	font-weight:  bold;
}

#coverFlowTest {
  border: 0px solid magenta;
  margin: auto;
  margin-top: 100px;
}

#controls {
  margin: auto;
}

canvas {
  border: 0px solid green;
}
