body {
	font-family:  Myriad, Verdana;
	font-size:    12px;
	color:        gray;
	background:   black;
}

.title {
	font-size:    18px;
	font-weight:  bold;
}

#coverFlowTest, #controls {
  border:     0px solid magenta;
  margin: auto;
  margin-top: 20px;
}

#coverFlowTest .coverFlowLabel {
	margin-top:   10px;
	font-size:    14px;
	color:        #C0C0C0;
	font-weight:  bold;
}

canvas {
  border: 0px solid green;
}
